{
  "extends": ["airbnb-typescript/base"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "no-console": "off",
    "class-methods-use-this": "off"
  }
}
